<style>
  h2 {
    color: blue;
    text-align: center;
  }
  body {
    text-align: center;
  }
</style>

<ul><h2>What is Depression?</h2>
	World Health Organization :: <a title="Depression" href="http://www.youtube.com/watch?v=XiCrniLQGYc">Depression</a>
	<p><iframe src="//www.youtube.com/embed/XiCrniLQGYc?rel=0" height="315" width="420" allowfullscreen="" frameborder="0"></iframe></ul></p>

<ul><h2>What is Mental Health?</h2>
	World Health Organization :: <a title="Mental Health" href="http://www.youtube.com/watch?v=L8iRjEOH41c">Mental Health</a>
	<p><iframe src="//www.youtube.com/embed/L8iRjEOH41c?rel=0" height="315" width="560" allowfullscreen="" frameborder="0"></iframe></ul></p>
