<!-- <style>
  p {
    color: red;
  }

</style>

<h2><a title="National Suicide Prevention Lifeline" href="http://www.suicidepreventionlifeline.org/">National Suicide Prevention Lifeline</a></h2>
<h4>1(800)273-8255</h4>
<p>Hours: 24 hours, 7 days a week</p>
<p>Languages: English, Spanish</p>

<h2><a title="Can Help"</h2>
<h4>1(800)643-5432</h4>
<p>This is a 24-hour crisis hotline available to students. Counselors who staff the hotline will help people manage a crisis situation; a mobile team is available when needed. They refer to Centre County hospital facilities if hospitalization is needed.</p>

<h2><a title="Crisis Intervention Hotline" href="http://www.the-bright-side.org/site/thebrightside/content.php?type=1&amp;section_id=326&amp;id=268">Crisis Intervention Hotline</a></h2>*/ -->

<style>
		body {
			text-align: center;
			font-family: 'Oswald', sans-serif;
			background: #FFC0A9;
		}
		h3 {
			color: red;
			text-align: center;
			font-family: 'Oswald', sans-serif;
		}

		h4 {
			color: black;
			text-align: center;
			font-family: 'Oswald', sans-serif;
		}
		p {
			text-align: center;
			font-family: 'Oswald', sans-serif;
		}
	</style>

<body>

 <center><%= image_tag "logo.png", class: "aligncenter" %><!--<img class="aligncenter" title="Support" alt="" src="http://i.imgur.com/fxKQWfa.png" /> --></center>

<strong><h3>If this is an emergency, or if you are worried that you or someone you know may be at risk for suicide, please call your local authorities (911), contact a mental health professional, or call and talk to someone at 1-800-273-TALK (273-8255).</h3></strong>
<br/>
<h4>Helplines</h4>
	<li>National Hopeline Network :: 1.800.SUICIDE (784.2433)</li>
	<li>National Suicide Prevention Helpline :: 1.800.273.TALK (273.8255)</li>
	<li>Crisis intervention hotline :: <a title="Pennsylvania" href="http://www.the-bright-side.org/site/thebrightside/content.php?type=1&amp;section_id=326&amp;id=268">Pennsylvania</a></li>
<br/>

<h4>Find Treatment or Counseling</h4>
	<li>American Psychological Association :: <a title="Counseling Services Locator" href="http://locator.apa.org/">Counseling Services Locator</a></li>
	<li>Substance Abuse &amp; Mental Health Services Administration :: <a title="Mental Health Treatment Locator" href="http://findtreatment.samhsa.gov/MHTreatmentLocator/faces/quickSearch.jspx">Mental Health Treatment Locator</a></li>
<br/>
</body>
