<style>
  body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background: #FFC0A9;
  }
</style>

<h2><a title="Tides" href= "http://tidesprogram.org/">Tides</a></h2>
<h4>"Our mission is to provide safe and nurturing peer support programming for children, teens and their families who have experienced the death of a loved one."</h4>
<p>Phone number: (814) 692-2233</p>
